.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*2rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2* 2rem)/3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*2rem)/4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 2rem) / 4)*2 + 2rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 2rem) / 4)*3 + 2*2rem); }

.navigation__nav {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  background-color: #ffff; }

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent; }

.navigation__item {
  float: right; }

.navigation__item__logo {
  float: left; }

.navigation__item, .navigation__item__logo {
  width: 12rem;
  height: 5.5rem; }

.navigation__divider {
  display: block;
  color: #666;
  text-align: center;
  padding: 2.4rem 1.6rem;
  text-decoration: none; }

.navigation__link {
  padding: 2.4rem 1rem; }

.navigation__logo {
  height: 100%;
  width: 100%;
  padding: .9rem 1.6rem;
  cursor: pointer;
  float: left; }

.navigation__link, .navigation__logo {
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none; }
  .navigation__link:hover:not(.active), .navigation__logo:hover:not(.active) {
    background-color: #ddd;
    color: #d32f33; }
  .navigation__link.active, .navigation__logo.active {
    color: #d32f33;
    background-color: #ddd; }

.footer {
  width: 100%;
  height: 30rem;
  background-image: url(../img/footer_gradient.png);
  color: #fff; }
  .footer__left {
    width: 50%;
    float: left;
    padding: 6rem 6rem; }
    .footer__left-heading {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1.2rem; }
    .footer__left-text {
      display: block;
      text-decoration: none; }
      .footer__left-text:link, .footer__left-text:visited {
        color: #fff; }
      .footer__left-text:not(:last-child) {
        margin-bottom: 1rem; }
      .footer__left-text:hover {
        cursor: pointer; }
    .footer__left__terms-link {
      text-decoration: none; }
      .footer__left__terms-link:link, .footer__left__terms-link:visited {
        color: #fff; }
  .footer__right {
    float: right; }
    .footer__right-text {
      margin-top: 60%;
      margin-right: 3.5rem;
      font-weight: 400; }
    .footer__right--links {
      margin: 2rem 6.5rem;
      text-align: right; }
      .footer__right--links-link {
        text-decoration: none; }
        .footer__right--links-link:not(:last-child) {
          margin-right: 1rem; }
        .footer__right--links-link > * {
          font-size: 3.6rem !important; }
        .footer__right--links-link:link, .footer__right--links-link:visited {
          color: #fff; }

.section__plan-group {
  background-color: #efefef;
  height: 50rem;
  display: block;
  position: relative; }
  .section__plan-group--line {
    background-color: #dbdbdb;
    margin: 0;
    margin-top: 1.5rem;
    border: none;
    height: 1px; }

.section__plan::after {
  content: "";
  display: table;
  clear: both; }

.section__plan-text {
  display: block; }

.section__plan--unlimited-data {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem; }
  .section__plan--unlimited-data__shape {
    height: 20rem;
    float: right;
    position: relative;
    overflow: hidden; }
  .section__plan--unlimited-data__img {
    height: 100%;
    transform: translateY(0.2rem); }
  .section__plan--unlimited-data__text {
    transform: translate(-15%, 20%); }

.section__form {
  width: 100%;
  height: 60rem;
  background-color: #efefef; }
  .section__form__heading {
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 200; }
    .section__form__heading-main {
      font-weight: 580;
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.8); }
    .section__form__heading-description {
      margin-top: 1.5rem;
      color: rgba(0, 0, 0, 0.6); }

.plan {
  text-align: center; }
  .plan::after {
    content: "";
    display: table;
    clear: both; }
  .plan__choice__list {
    list-style: none; }
  .plan__choice__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .plan__choice__item:hover {
    cursor: pointer; }
  .plan__choice-logo {
    margin-right: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fff;
    padding: 1.2rem;
    padding-top: 1.8rem;
    display: inline-block;
    justify-content: center;
    align-items: center; }
  .plan__choice-img {
    max-width: 5rem;
    height: auto; }
  .plan__data-img {
    max-width: 100%;
    height: auto; }

.feature {
  height: 60rem;
  width: 100%;
  padding: 2.5rem 0;
  background-image: url(../img/footer_gradient.png); }
  .feature__component::after {
    content: "";
    display: table;
    clear: both; }
  .feature__component:hover {
    cursor: pointer; }
  .feature__component--img {
    max-width: 7rem;
    height: auto;
    float: left; }
  .feature__component--data {
    color: #fff;
    font-size: 1.6rem;
    float: right;
    width: 78%; }
  .feature__logo {
    text-align: center; }
    .feature__logo::after {
      content: "";
      display: table;
      clear: both; }
    .feature__logo-and-button--img {
      max-width: 40rem;
      height: auto; }

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2); }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0); } }

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2); }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0); } }

* {
  font-size: 1.6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* browser default fontsize:16px
    font-size we want 10px
    10/16=0.625 *100 =62.5% */
  /* now browser default 16px maps 10px ;that is what we want */
  /* font-size:10px; */
  /* 
now 1rem::10px
*/ }

body {
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.heading-tertiary {
  color: #bf168c;
  text-align: center;
  font-size: 4rem;
  font-weight: 400; }

.heading-primary {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin: 1.5rem 0; }

.header {
  height: auto;
  margin-top: 4.9rem; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.slider {
  height: 50rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .slider__nav:checked {
      -webkit-animation: check 0.4s linear forwards;
      animation: check 0.4s linear forwards; }
      .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%; }
      .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%; }
      .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%; }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .slider__contents-1 {
    background-image: url(../img/home1.png); }
  .slider__contents-2 {
    background-image: url(../img/home2.png); }
  .slider__contents-3 {
    background-image: url(../img/home3.jpg); }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover; }

.btn {
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  border-radius: 1rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  .btn:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--purple {
    background-color: #bf168c;
    color: #fff; }
  .btn--black {
    background-color: #000;
    color: #fff; }

.form {
  padding-left: 25%; }
  .form__reminder-msg {
    margin-left: 9%;
    margin-top: 2rem;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.7); }
  .form__input, .form__select {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: none;
    display: block;
    justify-content: flex-start;
    line-height: 1.5;
    padding: 1rem 1rem;
    position: relative;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    margin-top: 2.5rem;
    max-width: 65%;
    width: 65%; }
  .form__btn {
    padding: 1.5rem 12rem;
    margin-top: 4rem;
    margin-left: 15rem; }
  .form__is-primary {
    border-color: #d6199d; }

.login {
  height: 50rem;
  margin: 8rem;
  text-align: center; }
  .login__message {
    margin: 1.5rem 0; }
    .login__message_img {
      max-width: 15rem; }
    .login__message_heading {
      font-size: 4rem;
      font-weight: 400;
      color: #d32f33; }
    .login__message_text {
      font-weight: 540;
      font-size: 2rem;
      color: #0a0a0a; }
    .login__message_question {
      color: #d32f33;
      font-weight: 400;
      font-size: 2.5rem; }
      .login__message_question_bold {
        font-weight: 700;
        font-size: 2.5rem; }
