.navigation__nav {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    background-color: #ffff; 
  }
  
  .navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; 
  }
  
  .navigation__item {
    float: right; 
  }
  
  .navigation__item__logo {
    float: left; 
  }
  
  .navigation__item, .navigation__item__logo {
    width: 12rem;
    height: 5.5rem; 
  }
  
  .navigation__divider {
    display: block;
    color: #666;
    text-align: center;
    padding: 2.4rem 1.6rem;
    text-decoration: none; 
  }
  
  .navigation__link {
    padding: 2.4rem 1rem; 
  }
  
  .navigation__logo {
    height: 100%;
    width: 100%;
    padding: .9rem 1.6rem;
    cursor: pointer;
    float: left;
   }
  
  .navigation__link, .navigation__logo {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none; 
  }
  .navigation__link:hover:not(.active), .navigation__logo:hover:not(.active) {
      background-color: #ddd;
      color: #d32f33;
  }
    
  .navigation__link.active, .navigation__logo.active {
      color: #d32f33;
      background-color: #ddd; 
    }


