
.heading-tertiary{
    color: #bf168c;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
}

.heading-primary{
    color: $color-white;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin:1.5rem 0;
}